<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.wireframeapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="WireframeApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.WireframeApp">

        <!-- WelcomeActivity là màn hình đầu tiên -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity sẽ được mở sau khi login -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>